body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
}

header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}


.card {
    background: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 6px;
}


.login-card {
    max-width: 400px;
    margin: 40px auto;
}


.navbar {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.navbar button {
    background: #34495e;
}


input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    padding: 10px 15px;
    border: none;
    background: #3498db;
    color: white;
    border-radius: 4px;
}


.subject-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}


.quiz-area p {
    margin: 10px 0 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


.error-text {
    color: red;
}

.result-text {
    margin-top: 10px;
    font-weight: bold;
}


.announcement-list {
    margin-bottom: 15px;
}


.hidden {
    display: none;
}